.copyright {
  font-size: 1.4rem;
  margin-top: 6rem;
  color: white;
  text-align: center;
}

.footer {

  background-image: linear-gradient(to right bottom, rgba(#6138D8, 1), rgba(black, 1));
  padding: 3rem;
}